//
// Container
//

// Holds and centers the site content

.container {
    max-width: $container-width; 
    margin-right: auto;
    margin-left: auto; 
    overflow: hidden; // avoids scrollbars created by the negative margins
    display: table; // this fixes the issue of disappearing content if it is surrounded by a wrapping div with no display set 
    width: 100%; // make sure the container is always at max-width
} 

//
// Grid classes
//
@media (min-width: $mobile-breakpoint) {
    // Add '.grid' for the table
    .grid {
        display: table;
        width: 100%;
        table-layout: fixed;
        
        //add '.padded' for inner gutters
        .padded {
            padding: $gutter-width / 2; //this can actually be any arbitrary number
        }
        
        .grid-padded & {
            border-spacing: $gutter-width 0;
        }
    }
    
    // Add '.col' for the table cells, or columns
    .col {
        display: table-cell;
//        background: pink; //for debugging
    }
    
    // Padded columns
    // Use as a wrapper around '.grid' to create column spacing
    .grid-padded {
        margin-left: -$gutter-width;
        margin-right: -$gutter-width;
    }
}