// Vertically center grid content
//
// Requires content within the column to be inline or inline-block.


.col {
    &.align-top {
        vertical-align: top;
    }
    
    &.align-middle {
        vertical-align: middle;
    }
    
    &.align-bottom {
        vertical-align: bottom;
    }
}


//
// Reverse column sorting
//

.grid-reverse {
  direction: rtl;
}

.grid-reverse .col {
  direction: ltr;
}
