// Set your variables here

$mobile-breakpoint:600px;

//container
$container-width:1400px; 
$gutter-width: 40px;

//columns
$column-count:13; 


//Usage

//With gutters
//<div class="container">   
//    <div class="grid-padded">
//        <div class="grid">
//            <div class="col">Column</div>
//            <div class="col">Column</div>
//        </div>
//    </div>
//</div>
//
//No gutters
//<div class="container">  
//    <div class="grid">
//        <div class="col">Column</div>
//        <div class="col">Column</div>
//        <div class="col">Column</div>
//    </div>
//</div>