/*
 * Styles for the Table Grid docs.
 */

html {
  font-size: 14px;
}
@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding-bottom: 3rem;
  font: 1rem/1.5 "Helvetica Neue", sans-serif;
  color: #555;
  text-align: center;
  background-color: #fff;
}

.container {
  max-width: 54rem;
  padding: 0 1rem;
}

a {
  color: #1874cd;
  text-decoration: none;
}
a:hover {
  color: #104e8b;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}
h1 {
  font-size: 3rem;
}
h1 small {
  font-size: 80%;
  color: #777;
}
h2 {
  margin-top: 3rem;
  font-size: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.container > p {
  margin: .5rem auto 1rem;
  max-width: 800px;
}

hr {
  max-width: 100px;
  margin: 3rem auto;
  border: 0;
  border-top: .1rem solid #eee;
}

code {
  padding: .15rem .3rem;
  font-family: Menlo, "Courier New", monospace;
  font-size: 90%;
  color: #cd3333;
  background-color: #f5f5f5;
  border-radius: .15rem;
  white-space: nowrap;
}

/* Display utility classes */
.inline-block {
  display: inline-block;
}

/* Masthead */
.masthead {
  padding: 4rem 1rem;
  font-weight: 300;
  color: rgba(255,255,255,.65);
  text-align: center;
  background-color: #b94a48;
}
.masthead a,
.masthead strong {
  font-weight: normal;
  color: #fff;
}
.masthead p {
  font-size: 1.25rem;
}

/* Make it red for easy views */
.grid-example {
  margin-bottom: 1rem;
}
.grid-example .col {
  line-height: 3;
  text-align: center;
  color: #333;
  background-color: rgba(255,0,0,.15);
}
.grid-example .col:nth-child(odd) {
  background-color: rgba(255,0,0,.3);
}

/* Nested grid examples need outdenting because padding. */
.grid-example .grid-example {
  margin-top: .5rem;
  margin-bottom: 0;
}

/* Increase height of vertically centered example */
.grid-example.grid-align-middle {
  height: 200px;
}
.grid-example.grid-align-middle .col {
  min-height: 3rem;
  line-height: 1.5;
}
