/*--------------------------------------------------------------
## Table Grid
--------------------------------------------------------------*/
.container, .container-fluid {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }
  .container-fluid {
    max-width: none; }

@media (min-width: 600px) {
  .row, .row-auto {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left; }
    .row-auto .col {
      display: inline-block;
      vertical-align: top;
      position: relative; }
      .row-auto .col:first-child {
        margin-left: 0; }
      .row-auto .col:last-child {
        margin-right: 0; }
    .row-padded .row .col, .row-padded .row-auto .col {
      border-right: 40px solid transparent;
      background-clip: padding-box; }
      .row-padded .row .col:first-child, .row-padded .row-auto .col:first-child {
        border-left: none; }
      .row-padded .row .col:last-child, .row-padded .row-auto .col:last-child {
        border-right: none; }
  .col {
    display: table-cell; }
  .padded {
    padding: 20px; } }

.col-1 {
  width: 100%; }

@media (min-width: 600px) {
  .col-1 {
    width: 7.69231%; } }

.col-2 {
  width: 100%; }

@media (min-width: 600px) {
  .col-2 {
    width: 15.38462%; } }

.col-3 {
  width: 100%; }

@media (min-width: 600px) {
  .col-3 {
    width: 23.07692%; } }

.col-4 {
  width: 100%; }

@media (min-width: 600px) {
  .col-4 {
    width: 30.76923%; } }

.col-5 {
  width: 100%; }

@media (min-width: 600px) {
  .col-5 {
    width: 38.46154%; } }

.col-6 {
  width: 100%; }

@media (min-width: 600px) {
  .col-6 {
    width: 46.15385%; } }

.col-7 {
  width: 100%; }

@media (min-width: 600px) {
  .col-7 {
    width: 53.84615%; } }

.col-8 {
  width: 100%; }

@media (min-width: 600px) {
  .col-8 {
    width: 61.53846%; } }

.col-9 {
  width: 100%; }

@media (min-width: 600px) {
  .col-9 {
    width: 69.23077%; } }

.col-10 {
  width: 100%; }

@media (min-width: 600px) {
  .col-10 {
    width: 76.92308%; } }

.col-11 {
  width: 100%; }

@media (min-width: 600px) {
  .col-11 {
    width: 84.61538%; } }

.col-12 {
  width: 100%; }

@media (min-width: 600px) {
  .col-12 {
    width: 92.30769%; } }

.col-13 {
  width: 100%; }

@media (min-width: 600px) {
  .col-13 {
    width: 100%; } }

.col.align-top {
  vertical-align: top; }

.col.align-middle {
  vertical-align: middle; }

.col.align-bottom {
  vertical-align: bottom; }

.row-reverse {
  direction: rtl; }

.row-reverse .col {
  direction: ltr; }

/* 

Usage

==================================
With gutters
==================================

<div class="container">   
    <div class="row-padded">
        <div class="row">
            <div class="col">Column</div>
            <div class="col">Column</div>
        </div>
    </div>
</div>

==================================
No gutters
==================================

<div class="container">  
    <div class="grid">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
    </div>
</div>

==================================
Columns with no automatic widths
==================================
Normally, table cells fills the entire width of its parent automatically. Using .row-auto instead of .row ensures the width of each column stays fixed relative to the container width.
==================================

<div class="container">  
    <div class="row-auto">
        <div class="col-5">Column</div>
        <div class="col-5">Column</div>
    </div>
</div>

*/
