body {
  margin: 0;
  padding: 1rem;
  font: 16px/1.5 "Helvetica Neue", sans-serif;
  background-color: #fff;
}

.container {
  max-width: 940px;
}

/* The Grid */
.grid {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.col {
  display: table-cell;
}
.col-1 { width: 8.333333%; }
.col-2 { width: 16.666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333333%; }
.col-5 { width: 41.666667; }
.col-6 { width: 50%; }
.col-7 { width: 58.333333%; }
.col-8 { width: 66.666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333333%; }
.col-11 { width: 91.666667%; }
.col-12 { width: 100%; }

/* Styles for the docs */
.grid-example {
  margin-bottom: 1rem;
}
.grid-example .col {
  padding: .5rem;
  text-align: center;
  background-color: rgba(255,0,0,.2);
}
.grid-example .col:nth-child(odd) {
  background-color: rgba(255,0,0,.4);
}
