// Vertically center grid content
//
// Requires content within the column to be inline or inline-block.

.grid-align-middle .col {
  vertical-align: middle;
}


//
// Reverse column sorting
//

.grid-reverse {
  direction: rtl;
  
  .col {
    direction: ltr;
  }
}
