//
// Container
//

// Holds and centers the site content
.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}


//
// Grid classes
//

@media (min-width: 600px) {
  // Add `.grid` for the table
  .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  // Add `.col` for the table cells, or columns
  .col {
    display: table-cell;
  }

  // Padded columns
  .grid-padded {
    margin-left:  -1rem;
    margin-right: -1rem;
    
    .grid {
      border-spacing: 1rem 0;
    }
  }
}
