<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table Grid by @mdo</title>
    <link href="../table-grid.css" rel="stylesheet">
    <link href="../docs.css" rel="stylesheet">
    <link href="table-grid.css" rel="stylesheet">
</head>

<body>

    <div class="masthead">
        <div class="container">
            <h1 class="wordmark">
          <a href="https://github.com/mdo/table-grid"><span>@</span>mdo/table-grid</a>
        </h1>
            <p>This is a serious-fun-dumb-useful experiment for writing a simple, responsive, and mobile-first CSS grid system. <strong>With tables.</strong></p>
        </div>
    </div>

    <div class="container">
        {{ content }}
    </div>

</body>

</html>